<form class="form update-form" action="{% url 'adjust_bag' item.product.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group w-25 mx-1">
        <div class="input-group">
            <input class="form-control form-control-sm qty_input" 
            type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
            data-item_id="{{ item.product.id }}">
        </div>
    </div>
</form>
<div>
    <a class="update-link text-info pe-3"><small>Update</small></a>
    <i class="fa-solid fa-trash-can text-danger remove-item align-self-center" 
       id="{% if request.resolver_match.view_name == 'view_bag' %}{% if forloop.parentloop.counter0 == 0 %}mobile{% else %}desktop{% endif %}{% endif %}_remove_{{item.item_id}}"></i>
</div>